<h2>Here are all the plants in our database.</h2>
   <table>
     <tr>
       <th>ID Number</th>
       <th>Plant</th>
       <th>Preferred Sun</th>
       <th>See it here</th>
       <th>Category</th>
     </tr>
       <% @plant.each do |p| %>
     <tr>
      <td> <%= p.id %> </td> 
      <td><%= p.name %> </td>
      <td> <%=p.sun %> </td>
      <td> <a href = "<%=p.picture%>" target="_blank"><%= p.name %></a> </td>
      <td> <%= p.category_id %> </td> 
    </tr>
   <% end %>
   </table>
   <h2>To add a plant to your garden, click here</h2>
   <form action="show_save_plants">  
     <input type ="hidden" name="table" value="selections">
  <input type="hidden" name="garden_id" value="<%= @garden_id%>">  
     <input type ="text" name="plant_id" placeholder="Enter flower id">
     <input type="submit" value="Click here">
   </form>